<div class="container">
 <div class="row" >
      <div class="col-sm-9 col-md-9 col-lg-9" style="margin-top: 20px;" >
       <img src="assets/admin.jpg" (click)="gotoadmin()" class="adminImage" > 
      
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3" style="text-align:center;margin-top: 20px" >
            <app-button [buttonDisabled]="false" [value]="'primary'" (buttonClicked)="logout()">{{ 'HOME.LOGOUT' | translate }}</app-button>  
      </div>
      </div> 

      <div class="row" >
      

        <div class="col-sm-3 col-md-3 col-lg-3" style="text-align:center;margin-top: 20px" >
        <label>firstName</label>
        <input autocomplete="off"  type="text"  [(ngModel)]="saveEmployeeDetails.firstName">
       
        </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="text-align:center;margin-top: 20px" >
        <label>lastName</label>
        <input autocomplete="off"  type="text"  [(ngModel)]="saveEmployeeDetails.lastName">
        
        </div>
      <div class="col-sm-3 col-md-3 col-lg-3" style="text-align:center;margin-top: 20px" >
          <label>UserId</label>
          <input autocomplete="off"  type="text"  [(ngModel)]="saveEmployeeDetails.userId">
         
      </div>
      </div>     


<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 20px;padding-left: 45px;" >
      <app-button [buttonDisabled]="false" (click)="updateEmployee()" [value]="'secondary'">updateEmployee </app-button>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 20px;padding-left: 45px;" >
  
    <app-button [buttonDisabled]="false" (click)="saveEmployee()" [value]="'secondary'">SaveData </app-button>
  
    
</div>
  </div>


  <div class="row" >
    <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top: 20px;" >
      <label>UserId</label>
      <input autocomplete="off"  type="text"  [(ngModel)]="getEmployeeDetails.userId">
    </div>
      <div class="col-sm-3 col-md-3 col-lg-3" style="text-align:center;margin-top: 20px" >
        <app-button [buttonDisabled]="false" (click)="deleteEmployee()" [value]="'secondary'">DeleteData</app-button>
        
        
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3" style="text-align:center;margin-top: 20px" >
      
      
     
  </div>
  
 <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top: 20px;" >

  <app-button [buttonDisabled]="false" (click)="getEmployee()" [value]="'secondary'">GetData</app-button>
    <ul>
     <ol *ngFor=" let item of getEmployeeDetailsOPList">
       <div> <label><b>FirstName: </b></label>  {{item.firstName}}</div>
     <div><label><b>LastName: </b></label>  {{item.lastName}}</div>
      
     </ol>
    </ul> 
  </div> 
    </div>










</div>