<div class="container">
    <div class="row" >
         <div class="col-sm-9 col-md-9 col-lg-9" style="margin-top: 20px;" >
          </div>
           <div class="col-sm-3 col-md-3 col-lg-3" style="text-align:center;margin-top: 20px" >
               <app-button [buttonDisabled]="false" [value]="'primary'" (buttonClicked)="goBackToLogin()">{{ 'HOME.GOTOLOGIN' | translate }}</app-button>  
         </div>
         </div> 
         
         <div class="row" style="margin-top: 70px;">
            <div class="col-sm-6 col-md-6 col-lg-6"  >
             
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6" style="color: black;" >
              <label >
                {{ 'HOME.USERNAME' | translate }}  
                <span class="star">*</span>
                </label>
            </div>
            </div>


            <div class="row" style="margin-top: 5px;">
                <div class="col-sm-6 col-md-6 col-lg-6"  >
                 
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6" style="color: black;" >
                    <input #username type="text" class="inputBox" [value]=data >
                </div>
                </div>   


                <div class="row" style="margin-top: 30px;">
                    <div class="col-sm-6 col-md-6 col-lg-6"  >
                     
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6" style="color: black;" >
                      <label >
                        {{ 'HOME.NEWPASSWORD' | translate }}  
                        <span class="star">*</span>
                        </label>
                    </div>
                    </div>
        
        
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-sm-6 col-md-6 col-lg-6"  >
                         
                          </div>
                          <div class="col-sm-6 col-md-6 col-lg-6" style="color: black;" >
                            <input #password type="text" class="inputBox">
                        </div>
                        </div>   



                        <div class="row" style="margin-top: 30px;">
                            <div class="col-sm-6 col-md-6 col-lg-6"  >
                             
                              </div>
                              <div class="col-sm-6 col-md-6 col-lg-6" style="color: black;" >
                              <label >
                                {{ 'HOME.CONFIRMPWD' | translate }}  
                                <span class="star">*</span>
                                </label>
                            </div>
                            </div>
                
                
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-sm-6 col-md-6 col-lg-6"  >
                                 
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-lg-6" style="color: black;" >
                                    <input #confirmpassword type="text" class="inputBox">
                                </div>
                                </div> 

                                <div class="row" style="margin-top: 30px;padding-left: 50px;">
                                  <div class="col-sm-6 col-md-6 col-lg-6"  >
                                   
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6" style="color: black;" >
                                      <app-button [buttonDisabled]="false" [value]="'secondary'">{{ 'HOME.SUBMIT' | translate }}  </app-button>
    
                                  </div>
                                  </div> 





   </div>
  
  
    
     
