
<div class="image" >

<form [formGroup]="profileForm" (click)="goToRedirect(username.value, password.value)">
    
  <div class="row" style="margin-top: 230px;">
  <div class="col-sm-6 col-md-6 col-lg-6"  >
   
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="color: white;" >
    <label >
      {{ 'HOME.USERNAME' | translate }}  
      <span class="star">*</span>
      </label>
  </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" style="text-align: center;">

      <label style="color: white;">
        {{ 'HOME.SELECT' | translate }}
        <select class="selectbox" #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" 
          [selected]="lang === translate.currentLang">
          {{ lang }}
        </option>
        </select>
      </label>
  
  
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6"  >
    
      <input #username type="text" name="data" [(ngModel)] = data  class="inputBox" formControlName="firstName" pattern="[a-zA-Z ]*">
    
    </div>
    
  </div>
    
    
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" >
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px;color: white;" >
        <div *ngIf="profileForm.controls['firstName'].errors && !profileForm.controls['firstName'].pristine" class="error-msg">
        <div [hidden]="!profileForm.controls['firstName'].errors.required"> {{ 'HOME.USERNAMEREQUIRED' | translate }}</div>
        <div [hidden]="!profileForm.controls['firstName'].errors.minlength"> {{ 'HOME.MINLENGTH5' | translate }}</div>
        <div [hidden]="!profileForm.controls['firstName'].errors.pattern"> {{ 'HOME.ENTERLETTERS' | translate }}</div>
      </div>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" >
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px;color: white;" >
    <label >
      {{ 'HOME.PASSWORD' | translate }}  <span class="star">*</span>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" >
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" >
    <input class="inputBox" #password  type="password" formControlName="lastName" pattern="[a-zA-Z ]*">
  </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" >
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px;color: white;" >
    <div *ngIf="profileForm.controls['lastName'].errors && !profileForm.controls['lastName'].pristine" class="error-msg">
        <div [hidden]="!profileForm.controls['lastName'].errors.required">{{ 'HOME.PASSWORDREQUIRED' | translate }}</div>
        <div [hidden]="!profileForm.controls['lastName'].errors.minlength"> {{ 'HOME.MINLENGTH5' | translate }}</div>
        <div [hidden]="!profileForm.controls['lastName'].errors.pattern"> {{ 'HOME.ENTERLETTERS' | translate }}</div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6" >
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 20px;padding-left: 45px;" >
    
      <app-button [buttonDisabled]="profileForm.invalid" [value]="'secondary'">{{ 'HOME.SUBMIT' | translate }}  </app-button>
    
  </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6" >
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px;padding-left: 45px;color: white;" >
    
      <a  style="cursor:pointer" (click)="changePassword()">{{ 'HOME.CHANGEPWD' | translate }}</a>
    
  </div>
    </div>
     
  </form>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" >
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px;color: white;" >
  <div  *ngIf="showerror && (!profileForm.get('firstName').untouched &&  !profileForm.get('lastName').untouched)">
    <span style="margin-top: 10px;color: white;">{{ 'HOME.LOGINERRORMSG' | translate }}</span>
  </div>
    </div>

  </div>


  <div *ngIf="showchangepwd" class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" >
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="color: white;" >
      <span style="padding-left: 30px;color: white;">{{ 'HOME.ENTERUSERNAME' | translate }}</span>
    </div>

  </div>

