<div class="container">
    <div class="row" >
         <div class="col-sm-10 col-md-10 col-lg-10" style="margin-top: 20px;" >
         <input type="search" [(ngModel)]="searchText" class="inputBox">
            </div>
           <div class="col-sm-2 col-md-2 col-lg-2" style="text-align:center;margin-top: 20px" >
               <app-button [buttonDisabled]="false" [value]="'primary'" (buttonClicked)="logout()">Logout</app-button>  
         </div>
         </div> 
         
         
         <div class="row" >
            <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 20px;" >
             <select class="selectbox">
               <option *ngFor=" let item of items | filter:searchText">
                    {{item.Name}}
                </option>
            </select> 
            </div>
         </div>







   </div>