/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.star{
    color: red;
}

  .inputBox{
    border-radius: 20px; 
    padding-left: 10px;
    height: 30px;
}

.inputBox:focus {
    outline: 0px;
  }

  .selectbox{
    width: 175px;
    height: 30px;
    padding-left: 5px;
  }
